
<% total_price = 0 %>
<% total_deposit = 0 %>

<% @beds.each do |bed| %>
	
	<% if bed.room == room_variable_total %>	
			
		
		
		<% if defined? shift_variable %>
		
			<% if defined? bed.guests[0].name == "method" and
			bed.bookings[0].check_in_date.strftime("%Y %B %d, %A") == time_variable and
			bed.bookings[0].shift == shift_variable %>
		      <% total_price += bed.guests[0].price %>
		      <% total_deposit += bed.guests[0].deposit %>
		
		  <% end %>
		
		<% else %>
			
				<% if defined? bed.guests[0].name == "method" and
				bed.bookings[0].check_in_date.strftime("%Y %B %d, %A") == time_variable %>
				    <% total_price += bed.guests[0].price %>
				    <% total_deposit += bed.guests[0].deposit %>
			
				<% end %>
		
		<% end %>
	
	<% end %>

<% end %>

<td><%= total_price %></td>

<td><%= total_deposit %></td>
